.header{
    display: flex;
    justify-content: space-around;
    top: 500px;
}

.content{
    display: flex;
    justify-content: space-around;
}

.calories{
    border-radius: 50%;
    padding:4px;
    font-size: small;
    border: 2px solid skyblue;
    border-left-color:#fff;
    box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.3),
                -4px -3px 7px -1px rgba(255,255,255,1);
}

.steps{
    border-radius: 50%;
    padding: 4px;
    border: 2px solid skyblue;
    border-left-color:#fff;
    box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.3),
                -3px -3px 7px -1px rgba(255,255,255,1);
    

}

.sleep{
    border-radius: 50%;
    padding: 4px;
    border: 2px solid skyblue;
    border-left-color:#fff;
    box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.3),
                -3px -3px 7px -1px rgba(255,255,255,1);

}